{% if flash_message %}
<div class="alert alert-{{ flash_message.type }} alert-dismissible fade show rounded-0 border-0 m-0" role="alert">
    {{ trans(flash_message.key) }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}
