<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticketmaestrix - Forgot Password</title>
</head>
<body>
    <div>
        <h1>Enter Verification Code</h1>
        <p>Enter the 6-digit code that was sent to example@gmail.com</p>
    </div>
    <button type="submit" href="/Ticketmaestrix/newpassword">Continue</button>
</body>
</html>