<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticketmaestrix - Forgot Password</title>
</head>
<body>
    <div>
        <h1>Enter New Password</h1>
        <p>Enter your new password</p>
    </div>
    <div>
        <form action="/forgotpassword" method="POST">
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="••••••••" required>
            </div>
            <div>
                <label for="password2">Confirm Password</label>
                <input type="password" id="password2" name="password2" placeholder="••••••••" required>
            </div>
            <button type="submit" href="/Ticketmaestrix/login">Continue</button>
        </form>
    </div>
</body>
</html>